@import "tailwindcss";
@theme {
    --color-body-1:#F8F8F8;
    --color-ww:#919EAB;
    --color-pp:#637381;
    --color-blue-d:#155EEF;
    --color-blue-l:#155EEF18;
    --color-purple:#5119B7;
    --color-purple-l:#5119B718;
    --color-black-d:#212B36;
    --color-black-l:#637381;
    --color-light-l:#F4F6F8;
    --color-sky-l:#528BFF;

}

@layer components{
    .icon-click{
        @apply transition-all duration-200;}
        .icon-click:hover{
            @apply bg-blue-l  border border-zinc-200 rounded-md  text-blue-d;
        }
       
    }